html, body,  {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

#container {
        width: 1270px;
        height: 100%;
        min-height: 450px;
        margin:30px 1px auto;
        box-shadow: 2px 2px 10px #888;
       /*  background: url(images/noise3.png); */
      background-color: #870E0E;
        padding-bottom: 20px;
        font-family: Verdana;
        font-size: 12px;
        font-weight: normal;
        font-style : normal;
        border-radius: 7px 7px 7px 7px;
        float: left;
}

#header {
        height: 76px;
        text-align: center;
       background: url(images/header2.gif) 10px 10px no-repeat #272727; 
       /*  background-image: url('#{resource['images:accept-icon.gif']}'); */
        background-color: #272727;
        
        color: white;
        padding: 5px;
        font-smooth: always;
        text-shadow: 0px 0px 2px white;
        border-radius: 7px 7px 0 0;
       
}

#top {
	width: 1270px;
	margin-left: 5px;
	
	float:left;
	/* margin:0 auto; */
	text-align: left;
	
	height: 100%;
	overflow: hidden;
	
}

#NAGLOWEK {
	background-color: #888;
}

#map-canvas, #map_canvas {
            height: 390px;
            width: 450px;
            margin: 0 auto;
        }

#MENU {
	width: 160px;
	float: left;
	height: 100%;
	overflow: hidden;
	background-color: white;
	margin-bottom: -1000px;
    padding-bottom: 1000px;
	
}

#TRESC {
	width: 1100px;
	float: left;
	min-height: 450px;
	overflow: hidden;
	background-color: white;
	margin:auto;
	margin-bottom: -1000px;
    padding-bottom: 1000px;
	
	
}

#TRESC11{
	width: 340px;
	float: left;
	margin: 0 auto;
	margin-top: 10px;
	margin-left:10px;
	
	min-height: 100px;
	overflow: hidden;
	/* background-color: #fff; */
	
}

#TRESCMAP, #map-canvas{
	width: 1050px;
	float: left;
	margin: 0 auto;
	margin-top: 10px;
	margin-left:10px;
	
	min-height: 100px;
	overflow: hidden;
	/* background-color: #fff; */
	
}

#TRESC11WIDE{
	width: 510px;
	float: left;
	
	margin:auto;
	margin-left:5px;
	margin-top:5px;
	min-height: 100px;
	overflow: hidden;
	/* background-color: #ddd; */
	border-color: black;
	border-style:solid 1px; 
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	
}

#TRESCWIDEPANELMAP{
	width: 920px;
	float: left;
	
	margin:auto;
	margin-left:10px;
	margin-top:5px;
	min-height: 25px;
	overflow: hidden;
	background-color: white;
	
}

#TRESCMAPA{
	width: 600 px;
	float: left;
	
	/* margin: 0 auto; */
	margin-left:10px;
	margin-top:10px; 
	min-height: 100px;
	overflow: hidden;
	background-color: white;
}

#TRESCMAPA1{
	/* width: 600 px; */
	float: left;
	
	/* margin: 0 auto; */
	margin-left:10px;
	margin-top:10px; 
	/* min-height: 100px; */
	overflow: hidden;
	background-color: white;
}

#TRESCPELNASZEROKOSC{
	overflow: hidden;
	width: 1020px;
	margin-left:10px;
	margin-top: 20px;
	float: left;
	margin: auto;
}

#TRESCTOPICDATA{
	width: 460px;
	float: left;
	
	margin:auto;
	margin-left:10px;
	margin-top:5px;
	min-height: 100px;
	overflow: hidden;
	background-color: #ddd;
	
	
}



#STOPKA {
	clear: both;
	width:  1260px;
	height: 30px;
	margin-left:5px;
	background-color: white;
	
	
	
	font-weight: normal;
    font-size: 1.0em;
	letter-spacing: .2em;
	line-height: 1.1em;
	
	text-align: center;
	text-transform: uppercase;
}

#line {
        width: 100%;
        height: 3px;
        background: orange;    
}

.fieldset {
	
        margin: 0 auto;
        width: auto;
        margin-top: 10px;
        margin-bottom: 60px;
        color: #5D5D5D;
/*         background: url(images/gray_texture1.jpg); */
		background: #c0c0c0!important;
        border: 1px solid #A8A8A8;
        box-shadow: 2px 2px 10px #888;
        text-align: left;
}

.fieldset legend {
        border: 1px solid #e0e0e0 !important;
        background: #008080!important;
        margin-top: 5px;
        margin-bottom: 1px;
        color: white !important;
        box-shadow: 1px 1px 2px #000000;
        text-shadow: 1px 1px 1px #333333 !important;
        font-weight: normal !important;
        font-style : normal !important;
}

.tooltip {
        font-size: 11px;
        font-weight: normal;
        font-style : normal;
        color: white;
        background:     -moz-linear-gradient(center top , rgba(0, 0, 0, 0.25), transparent) repeat scroll 0% 0% rgb(170, 170, 170);
        border: 1px solid gray;
        padding: 6px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
        text-shadow: 1px 1px 1px #333333;
}

.ui-dialog-titlebar {
        background-color: #ea5e0d !important;
        color: white !important;
        font-size: 12px !important;
        text-shadow:1px 1px 1px #333333 !important;
}

.ui-widget-overlay {
        background: none !important;
}

.ui-password-panel {
        font-size: 11px;
}

.ui-message-error, .ui-message-info {
        position: absolute !important;
        margin-top: -10px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
}

#greeting {
        font-family: Verdana;
        font-size: 12px;
        color: #272727;
        float: right;
        height: 25px;
        width: 200px;
        margin: 0 auto;
        margin-top: -30px;
}
 
#greeting a img {
        border: none;
        width: 20px;
        margin-bottom: -7px;
}

#goToMain {
        font-family: Verdana;
        font-size: 12px;
        color: #272727;
        float: left;
        height: 25px;
        margin: 0 auto;
        margin-top: -33px;
}

.mainTitle{
	    color: white;
	    font-size: 22;
        padding: 5px;
        font-smooth: always;
        text-shadow: 0px 0px 3px red;
        border-radius: 10px 7px 0 0;
	
}

.title{
	font: bold 34px "Century Schoolbook", Georgia, Times, serif;
	color: #333;
	line-height: 90%;
	margin: .2em 0 .4em 0;
	letter-spacing: -2px;
	padding: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.table{
	padding: 5px;
	padding-top: 10px;
	margin-top: 10px;
}

.fixed-size {
    table-layout: fixed;
    word-wrap: break-word;
}

.look{
    background: url(images/accept-icon.gif) no-repeat !important; 
    height:16px;
    width:16px;
}

.ui-menu .ui-menu-parent .ui-menu-child 
        {
            white-space: nowrap;
            height: 100px !important;
            width: 350px;
        }



  
